$accent-color: #E63946;

.flyer {
    width: 95%;
    margin: 3vh auto;
    background-color: rgb(244, 244, 244);
    border-radius: 0.25rem;

    .title {

        .title-text {
            text-align: center;
            font-weight: 700;
            font-size: 5rem;
            color: $accent-color;
        }
    }

    .photo {
        height: 30vh;
        width: 100%;
        background-size: cover;
    }

    .name-details {
        margin: 0.25rem 0;

        .cat-name {
            display: block;
            text-align: center;
            font-size: 2rem;
            color: $accent-color;
            font-weight: 600;
        }

        .pronounce {
            display: block;
            text-align: center;
        }
    }

    .specific-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .detail-item {
            width: 48%;
            margin-bottom: 0.25rem;


            .detail-accent-text {
                color: $accent-color;
                font-weight: 600;
            }
        }

    }

    .contact {
        padding-top: 1rem;

        .contact-message {
            display: block;
            text-align: center;
            font-size: 2rem;
        }

        .contact-phone {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 4rem;
            color: $accent-color;
        }
    }
}