$accent-color: #E63946;

.flyer {
    width: 95%;
    margin: 1.5vh auto;
    background-color: rgb(252, 252, 252);
    border-radius: 0.25rem;
    box-shadow: -0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.304);

    .title {

        .title-text {
            text-align: center;
            font-weight: 700;
            font-size: 5rem;
            color: $accent-color;
        }
    }

    .photo {
        height: 30vh;
        width: 100%;
        background-size: cover;
        border-radius: 0.25rem;
        box-shadow: -0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.304);

    }

    .name-details {
        margin-top: 0.15rem;
        margin-bottom: 0.5rem;

        .cat-name {
            display: block;
            text-align: center;
            font-size: 2rem;
            color: $accent-color;
            font-weight: 600;
        }

        .pronounce {
            display: block;
            text-align: center;
        }
    }

    .specific-details {
        padding: 0 0.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .detail-item {
            width: 48%;
            margin-bottom: 0.35rem;


            .detail-accent-text {
                color: $accent-color;
                font-weight: 600;
            }
        }

    }

    .contact {
        padding-top: 1rem;

        .contact-message {
            display: block;
            text-align: center;
            font-size: 2rem;
        }

        .contact-phone {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 4rem;
            color: $accent-color;
        }
    }
}