.flyer {
    border: red solid 5px;
    width: 95%;
    margin: auto;
    height: 100vh;

    .title {

        .title-text {
            text-align: center;
            font-weight: bold;
            font-size: 5rem;
        }
    }

    .photo {
        height: 30vh;
        width: 100%;
        background-size: cover;
    }

    .name-details {
        margin: 0.25rem 0;

        .cat-name {
            display: block;
            text-align: center;
            font-size: 2rem;
        }

        .pronounce {
            display: block;
            text-align: center;
        }
    }

    .specific-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .detail-item {
            width: 48%;
            margin-bottom: 0.25rem;


            .detail-accent-text {
                color: red;
            }
        }

    }

    .contact {
        padding-top: 2rem;

        .contact-message {
            display: block;
            text-align: center;
            font-size: 2rem;
        }

        .contact-phone {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 4rem;
        }
    }
}